:root {
 --primary-text-color:#21212; 
 --title-text-color:#196F3;
 --accent-text-color:#757575;
 --primary-text-navigation:#2196F3;
 --primary-bg-color: #ffffff;
 --primary-bg-button: #F5F4FA;
 --privary-bg-hero: #2F303A;
 --portfolio-color: #212121;
 --portfolio-text-color: #757575;
 --footer-bg-color: #2F303A;
 --footer--info:rgba(255, 255, 255, 0.6);

}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color); 
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6, p {
margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


 
/* Ховер */



.logo {
    color: var(--primary-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}
.footer-logo {
    padding: 0;
    color: var(--primary-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.footer-logo-main {
    color: var(--primary-text-navigation)
}

.logo .logo-first {
    color: var(--primary-text-navigation);
}

.site-nav {
    margin-left: 93px;
    display: flex;
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-text-navigation);
}


.site-nav .link.current {
    color: var(--primary-text-navigation);
}
.site-info  .link:hover,
.site-info .link:focus 
 {
    color: var(--primary-text-navigation);
} 


.site-info a {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
}


.site-header .item:not(:last-child) {
    margin-right: 50px;
}

.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;

margin-left: auto;
margin-right: auto;
   
}
.hero .hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color:  var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
   margin-left: auto;
   margin-right: auto;
}

.section { 
    background-color: var(--primary-bg-button);
    padding-top: 94px;
}

.section-benefits {
    display: none
}
.what-do {
    padding-top: 50px;
    padding-top: 0;
}


.section-title {
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
   }

.futures .futures-title {
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
}

.futures .futures-text {
    color: var(--accent-text-color);
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;

}
.futures-ourteam .futures-title {
 color: var(--portfolio-color);
 margin-bottom: 0;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}
.futures-ourteam .futures-text {
    color: var(--portfolio-text-color);
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em; 
}

 .button.primary {
color: var(--primary-bg-color);
background-color: var(--primary-text-navigation);
font-weight: 700;
 border: none;
 width: 216px
 font-weight: 700;
 font-size: 16px;
 line-height: 1.87;
 letter-spacing: 0.06em;
text-align: center;
border-radius: 4px;
 padding: 10px 32px; 
 cursor: pointer;
 
 }




.button-nav .link:hover,
.button-nav .link:focus
 {
background-color:var(--primary-text-navigation);
color: var(--primary-bg-color);
text-align: center;
letter-spacing: 0.03em;
border: 1px solid transparent;
}


.nav-link:focus {
    border: 1px solid transparent;
}

.button .link {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.button-nav .link {
    background-color: var(--primary-bg-button);
    font-family: inherit;
    color: var(--portfolio-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
}
.portfolio-header  .portfolio-title {
 color: var(--portfolio-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em; 
}
.portfolio-header .portfolio-text {
color: var(--portfolio-text-color);
 font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
.adress .adress-info {
    color: var(--primary-bg-color);
font-weight: 400;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 font-style: normal;
}
.site-info .link {
    color: var(--footer--info);
    font-style: normal;
}
.logo .logo-last {
    color: var(--primary-bg-color);
}
.adress {
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--privary-bg-hero);
}

.site-header .link {
color: var(--portfolio-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-header  .link:hover,
.site-header .link:focus 
 {
    color: var(--primary-text-navigation);
}
.page-header {
    display: inline-block;
    background-color: var(--primary-bg-color);
}


.container {

    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.portfolio-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    
}

.futures {
    display: flex;
    gap: 30px;

}

.futures-text {
    margin-top: 8px;
    padding-top: 10px;
    padding: 0;

  }
    



.section-title li {
    flex-wrap: wrap;
    display: flex;
    width: 200px;

}

.item-class {
    display: flex;
    gap: 30px;

}

.images {
    display: block;
    max-width: 100%;
    height: auto;
}


.futures-ourteam {
    display: flex;
    gap: 30px;
    
}
.futures-title {
    border-radius: 4px;
    background-color: var(--primary-bg-color)
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

.header-nav {
    align-items: center;
  display: flex;
}
.main {
    align-items: center;
    display: flex;
  
}
.site-header {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
}

.adress-info  {
    margin-top: 20px;
    margin-bottom: 9px;
}
.adress-info p {
    margin-top: 0;
    margin-bottom: 0;
}
.footer-link {
    
    margin-bottom: 9px;
}

.portfolio-nav {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-div {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 30px;
    border-right: 30px;
    border-bottom: 30px;
   

}


.portfolio-title {
margin-top: 0;
margin-bottom: 4px;

}

.portfolio-text {
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-button {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}
.button-nav .link {
    border-bottom: 8px;
    background-color: var(--primary-bg-button);
    color: var(--portfolio-color);
    text-decoration: none;
    display: block;
    border: 1px solid transparent;
    line-height: 1.62;

    border-radius: 4px;
    padding: 6px 22px;
    
}



.ourteam-main {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}



.futures .item {
    margin-bottom: 30px;
    display:block;
    content: '';
    height: 120px;
    background-color: var(--primary-bg-button);
    background-repeat: no-repeat;
    background-position: center;
  
    
}



.hero-images {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/hero.svg);

}

.header-mail {
    margin-left: 50px;
    font-weight: 500;
 
    text-decoration: none;
    color: var(--portfolio-text-color)
}
.header-mail:focus,
.header-mail:hover {
    color: var(--primary-text-navigation);
}
.futures-ourteam .item {
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.our-team-list {
    gap: 10px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
     
}
.our-team-contact-image {
    fill: currentColor;
}

.social-media {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.our-team-link {
    display: flex;
    justify-content: center;
        align-items: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
}
.our-team-link:hover,
.our-team-link:focus {
    color: #F5F4FA;
    background-color: var(--primary-text-navigation)
}
.footer-second {
    margin-left: 70px;
      
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.footer-media {
font-weight: 700;
line-height: 1.14;
  text-transform: uppercase;
 color: var(--primary-bg-color)

}


.social-media-list {
    margin-top: 20px;
    gap: 10px;
    display: flex;
}

.social-media-contact-image {
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    
}


.our-partnes {
    padding-bottom: 94px;
    padding-top: 94px;
}

.our-partnes-list {
    gap: 30px;
    display: flex;
}
.our-partnes-class {
    font-size: 36px;
  line-height: 1.166;
  text-align: center;
  margin-bottom: 50px;
}

.our-partnes-element {
    width: 170px;
    height: 92px;
    
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
}


.our-partnes-item {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid var(--color-light-grey);
    border-radius: 4px;
}

.our-partnes-item:focus,
.our-partnes-item:hover {
    color: var(--primary-bg-button);
    background-color: var(--primary-text-navigation);
}

.our-partnes-image {
    display: block;
    fill: currentColor;
}

.site-header-contact-image {
    fill: currentColor;
}

.footer {
    display: flex;
    flex-direction: column;
}

.social-media-contact-image {
justify-content: center;
 align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF
}
.social-media-contact-image:focus,
.social-media-contact-image:hover {
    background-color: #2196F3;
}

.ssection-benefits-image {
 justify-content: center;

}